name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    # Set the DATASOURCE_URL environment variable from the GitHub secret
    - name: Set DATASOURCE_URL Environment Variable
      env:
        DATASOURCE_URL: ${{ secrets.DATASOURCE_URL }}
      run: |
        echo "DATASOURCE_URL=${DATASOURCE_URL}" >> $GITHUB_ENV

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts
    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6

    # Run your Spring Boot application with the DATASOURCE_URL environment variable
    - name: Run Spring Boot Application
      run: |
        java -jar target/GameReviewHub-docker.jar --spring.datasource.url="${DATASOURCE_URL}"
